.titulo-1{
  font-size: 1.85em;
  font-weight: 600;
}

.titulo-2{
  font-size: 1.5em;
  font-weight: 600;
}

.titulo-3{
  font-size: 1.25em;
  font-weight: 400;
  color: var(--second-color);
}

.titulo--bege{
  color: var(--second-color);
}

.second-color{
  color: var(--second-color);
}

@media (max-width: 768px){
  p{
    text-align: justify;
  }
}