:root {
  --black-color: #000;
  --white-color: #fff;
  --off-white: #f2f2f1;
  --black-transparent: #0006;

  --main-color: #101B2B;
  --main-dark: #0a111b;

  --second-color: #C79E64;
  --second-alt: #ceb172;
  --third-color: #F7EECD;
  --third-alt: #dccb8d;

  --input-correct: #13bc37;
  --input-wrong: #f00;

  --background-color: var(--main-color);

  --main-font: 'montserrat';
}